{{ partial "header.html" .}}


<div class="container">
  <div class="row">
    <article class="col-md-9 post-full">
      {{ partial "breadcrumb_blog.html" . }}
      <header>
        <h1>{{ title .Title }}</h1>
        
        <section class="post-meta">
          {{ if isset .Params "blog/categories" }}
          <span class="pull-left">
            {{ $tax := index .Params "blog/categories" }}
              {{ range $tax }}
                <a href="{{ delimit (slice "/blog/categories/" (urlize .) $.Site.Params.ugly) "" | relURL }}">{{ . }}</a>
              {{ end }}
          </span>
          {{ end }}

          Published <time datetime="{{ dateFormat .Site.Params.DateForm .Date }}">
          {{ dateFormat .Site.Params.DateForm .Date }}</time>
        </section>
      </header>
      <section>
        {{ .Content }}
        <footer>
          <a href="/blog/"><span class="fa fa-arrow-left"></span> Back</a>
        </footer>
      </section>
    </article>
    <div class="col-md-3">
        {{ partial "latest_blog_posts.html" . }}
        {{ partial "blog_categories.html" . }}
    </div>
  </div>
</div>

{{ partial "footer.html" .}}
