{{ partial "header.html" . }}

<div class="container">
	{{ $currentNode := . }}
	{{ .Scratch.Set "sidemenu" false }}
	{{ .Scratch.Set "sidemenu_section" $currentNode.Section }}
	{{ range .Site.Menus.main }}
		{{ if eq $currentNode.Section (.Name | lower) }}
			{{ if .HasChildren }}
				{{ $currentNode.Scratch.Set "sidemenu" true }}
			{{ end }}
		{{ end }}
	{{ end }}
    
	<div class="col-lg-8 col-lg-offset-2">
        {{ partial "breadcrumb.html" . }}

	    <div class="page-heading">
		<h1>{{ title .Title }}</h1>
	    </div>
	    {{ .Content }}
	</div>
	
	{{ partial "sidebar.html" . }}
</div>

{{ partial "footer.html" . }}
