                <div class="post-preview">
                  <a href="{{ .Permalink }}">
                    <h2>{{ .Title }}</h2>
                  </a>
                  <div class="post-meta">{{ dateFormat .Site.Params.DateForm .Date }}</div>
                  <div class="post-summary">
                    {{ .Summary }}
                  </div>
                  {{ if .Truncated }}
                  <div class="readmore">
                    <a href="{{ .Permalink }}">Read more…</a>
                  </div>
                  {{ end }}
                </div>
                <hr>
