{{ partial "header.html" . }}


    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <ul>
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms.ByCount }}
            <li><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name | title }}</a> {{ $value.Count }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>

{{ partial "footer.html" . }}
