<h3>CERN</h3>
<p>
	CERN has been a long term supporter of KiCad by providing engineers that work on KiCad 
	to further both their own needs and that of the greater community.
	Donating allocates money directly for engineers to work on KiCad.
	<a class="btn btn-primary btn-block plain-link" href="https://cernandsocietyfoundation.cern/projects/kicad">Donate</a>
</p>
<hr />
<h3>The Linux Foundation&reg;</h3>
<p>
	Donating to KiCad via The Linux Foundation provides funds for project development and the developers behind it.
	<a class="btn btn-primary btn-block plain-link" href="https://funding.communitybridge.org/projects/kicad">Donate</a>
</p>