<h3>The Linux Foundation&reg;</h3>
<p>
	Donating to KiCad via The Linux Foundation is the preferred method of supporting KiCad development.
	This support provides funds for project development and the developers behind it.
	The Linux Foundation is a 501(c)(6) non-profit organization in the US.
	<a class="btn btn-primary btn-block plain-link" href="https://funding.communitybridge.org/projects/kicad">Donate</a>
</p>
<hr />
<h3>CERN</h3>
<p>
	CERN is a long time supporter of KiCad.  Donating money via CERN will
	fund CERN's engineering effort to work on KiCad.  Your country's tax laws 
	may provide you with a benefit for this donation.
	<a class="btn btn-primary btn-block plain-link" href="https://cernandsocietyfoundation.cern/projects/kicad">Donate</a>
</p>