<table class="library">
  <tr>
    <th>Library Set</th>
    <th>GitHub Repository</th>
    <th>Download</th>
  </tr>
  {{ partial "github_dl_link.html" (dict "repo" "kicad-symbols" "title" "Schematic symbols") }}
  {{ partial "github_dl_link.html" (dict "repo" "kicad-footprints" "title" "PCB footprints") }}
  {{ partial "github_dl_link.html" (dict "repo" "packages3d" "title" "3D models") }}
  {{ partial "github_dl_link.html" (dict "repo" "kicad-templates" "title" "Project templates") }}
</table>