<script type="application/ld+json">
    {{ if .IsPage }}
    {{ if eq .Section "blog" }}
    {
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title }}",
        "headline" : "{{ .Title }}",
        "description" : "{{ if .Description }}{{ .Description | plainify }}{{ else }}{{if .IsPage}}{{ .Summary | plainify }}{{ end }}{{ end }}",
        "inLanguage" : "en-US",
        "author": {
          "@type": "Person",
          "name": {{ .Site.Params.author }}
        },
        "image": "https://kicad-pcb.org/img/kicad_logo_small.png",
        "publisher": {
          "@type": "Organization",
          "name": "KiCad EDA",
          "logo": {
            "@type": "ImageObject",
            "url": "https://kicad-pcb.org/img/kicad_logo_small.png"
          }
        },
        "datePublished": "{{ dateFormat $.Site.Params.ISO8601Format .PublishDate.UTC }}",
        "dateModified" : "{{ dateFormat $.Site.Params.ISO8601Format .Date.UTC }}",
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "mainEntityOfPage": {
          "@type": "WebPage"
        },
        "keywords" : [ {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} ]
    }
    {{ end }}
    {{ end }}
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "KiCad EDA",
      "url": {{ .Site.BaseURL }},
      "sameAs": [
        "https://twitter.com/kicad_pcb",
        "https://gitlab.com/KiCad"
      ]
    }
    </script>