<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
		{{ $currentNode := . }}
		{{ range .Site.Menus.main }}
			{{ if .HasChildren }}
				<li class="dropdown{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ .Name }}<span class="caret"></span></a>
				<ul class="dropdown-menu">
					{{ range .Children }}
					<li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}">{{ .Name }}</a></li>
					{{ end }}
				</ul>
			{{else}}
				<li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}}">
					<a href="{{.URL}}">
						{{ .Pre }}
						<span>{{ .Name }}</span>
					</a>
			{{end}}
			</li>
		{{end}}

		<li>
			<form>
				<a href="https://cernandsocietyfoundation.cern/projects/kicad" class="btn btn-primary btn-block plain-link" style="color:white;padding-left: 40px;padding-right: 40px;"  data-toggle="modal" data-target="#donate-modal">Donate</a>
			</form>
		</li>
	</ul>
</div>
<!-- /.navbar-collapse -->
