<!--sidebar start-->
{{ $currentNode := . }}
{{ if .Scratch.Get "sidemenu" }} 
<div class="col-sm-2">
    <aside>
        <nav class="secondary">
            <!-- sidebar menu start-->
              {{ $section := .Scratch.Get "sidemenu_section" }}
              {{ range .Site.Menus.main }}
                    {{ if eq $section (.Name | lower) }}
                        {{ if .HasChildren }}
                            <h3>{{ .Name }}</h3>
                            <ul class="list-unstyled side-links">
                                {{ range .Children }}
                                    <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
                                {{ end }}
                            </ul>
                        {{end}}
                  {{end}}
              {{end}}
            </ul>
            <!-- sidebar menu end-->
        </nav>
    </aside>
</div>
{{end}}
<!--sidebar end-->