{{ partial "header.html" .}}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)),url('{{ .Site.BaseURL }}img/frontpage/banner.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>{{ title .Site.Title }}</h1>
              {{ if isset .Site.Params "Description" }}<h3>{{ title .Site.Params.Description }}</h3>{{ end }}
              <hr class="intro-divider">
              <ul class="list-inline intro-social-buttons">
                <li>
                  <a href="{{ .Site.BaseURL }}help/documentation" class="btn btn-default"><i class="fa fa-book fa-fw"></i> <span class="network-name">Docs</span></a>
                </li>
                <li>
                  <a href="{{ .Site.BaseURL }}download" class="btn btn-default btn-primary">
                    <i class="fa fa-download fa-fw"></i> <span class="network-name">Download</span>
                    <i class="fa fa-linux"></i>
                    <i class="fa fa-windows"></i>
                    <i class="fa fa-apple"></i>
                  </a>
                </li>
                <!-- Test to remove the community button
                <li>
                  <a href="#" class="btn btn-default"><i class="fa fa-comments fa-fw"></i> <span class="network-name">Community</span></a>
                </li>
                -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <!-- These content sections could potentially be adoc's later on for easy translation. We could then place them in a folder an loop through that to add it here. The image can be specified in the adoc also. Maybe even show some of the latests posts? -->
      <a  name="services"></a>
      <div class="content-section-a">

          <div class="container">
              <div class="row">
                  <hr class="section-heading-spacer">
                  <div class="col-lg-5 col-sm-6">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">Schematic capture</h2>
                      <p class="lead">With the schematic editor you can layout your design without limit. There are no paywalls to unlock features. KiCad has an official library for schematic symbols, as well as a schematic symbol editor.</p>
                      <a href="{{ .Site.BaseURL }}discover/features/" class="btn btn-default btn-block "><i class="fa fa-book fa-fw"></i> <span class="network-name">Learn more</span></a>
                      <p></p>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                      <img class="img-responsive" src="{{ .Site.BaseURL }}img/frontpage/kicad_eeschema.png" alt="">
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- /.content-section-a -->

      <div class="content-section-b">

          <div class="container">

              <div class="row">
                  <hr class="section-heading-spacer">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">PCB layout</h2>
                      <p class="lead">Make professional PCB layouts with up to 32 copper layers. You get the new push and shove router, which is also capable of routing differential pairs and interactively tuning trace lengths.</p>
                      <a href="{{ .Site.BaseURL }}discover/features/" class="btn btn-default btn-block "><i class="fa fa-book fa-fw"></i> <span class="network-name">Learn more</span></a>
                      <p></p>
                  </div>
                  <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                      <img class="img-responsive" src="{{ .Site.BaseURL }}img/frontpage/kicad_pcbnew.png" alt="">
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- /.content-section-b -->

      <div class="content-section-a">

          <div class="container">

              <div class="row">
                  <hr class="section-heading-spacer">
                  <div class="col-lg-5 col-sm-6">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">3D viewer</h2>
                      <p class="lead">KiCad also includes a 3D viewer, where by you can instantly inspect your design in an interactive canvas. You can rotate and pan around to inspect details that are harder to inspect on a 2D view. There are multiple rendering options.</p>
                      <a href="{{ .Site.BaseURL }}discover/features/" class="btn btn-default btn-block "><i class="fa fa-book fa-fw"></i> <span class="network-name">Learn more</span></a>
                      <p></p>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                      <img class="img-responsive" src="{{ .Site.BaseURL }}img/frontpage/kicad_3dviewer.png" alt="">
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- /.content-section-a -->

{{ partial "footer.html" .}}
