{{ $.Scratch.Add "additional_head_tags" "<link href=\"/fonts/font-linux.css\" rel=\"stylesheet\">" }}

{{ partial "header.html" . }}

{{ .Scratch.Set "sidemenu" true }}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 {{ if .Scratch.Get "sidemenu" }}col-md-10 col-sm-9{{ else }}col-sm-12{{ end }}">
			{{ partial "breadcrumb.html" . }}

			<div class="page-heading">
				<h1>{{ title .Title }}</h1>
			</div>
			{{ .Content }}

      <p>
        <a href="/libraries/"><span class="fa fa-arrow-left"></span> Back</a>
      </p>

    </div>

		{{ partial "sidebar.html" . }}
	</div>
</div>

{{ partial "footer.html" . }}
