<div class="paragraph">
  <p>In the entries below, variable fields are denoted as follows:</p>
</div>
<div class="ulist">
  <ul>
    <li>
      <p><strong>[]</strong> - Required</p>
    </li>
    <li>
      <p><strong>{}</strong> - Optional</p>
    </li>
  </ul>
</div>
<div class="paragraph">
  <p>Also, some field names are abbreviated as follows:</p>
</div>
<div class="ulist">
  <ul>
    <li>
      <p><code>MAN</code> - Manufacturer name</p>
    </li>
    <li>
      <p><code>MPN</code> - Manufacturer part name</p>
    </li>
    <li>
      <p><code>PKG</code> - Package name</p>
    </li>
    <li>
      <p><code>PIN</code> - Pin count</p>
    </li>
    <li>
      <p><code>X</code> - Length along x axis</p>
    </li>
    <li>
      <p><code>Y</code> - Length along y axis</p>
    </li>
    <li>
      <p><code>Z</code> - Length along z axis</p>
    </li>
    <li>
      <p><code>L</code> - Length along major axis</p>
    </li>
    <li>
    <p><code>W</code> - Length along minor axis</p>
    </li>
  </ul>
</div>
