{{ $type := .Get "type" }}
<p>
The following footprint naming conventions should be used as a basis for naming {{ $type }} footprints.
</p>
<p>
If you do not find an appropriate convention that matches a particular footprint type, either contact the KiCad library team or try to match a convention set by existing library components.
</p>

<p>
In the entries below, variable fields are denoted as follows:
</p>
{{- $colorMandatory := "#DD0055" -}}
{{- $colorOptional := "#2567D1" -}}
<p>
- Fixed fields<br>
<span style="color: {{ $colorMandatory }}">- Mandatory fields</span><br>
<span style="color: {{ $colorOptional }}">- Optional fields</span>
</p>