<table class="library">
  <tr>
    <th>Descriptor</th>
    <th>Footprint type</th>
  </tr>
  <tr><td>BGA</td><td>Ball grid array</td></tr>
  <tr><td>C</td><td>Capacitor, non polarized</td></tr>
  <tr><td>CP</td><td>Capacitor, polarized</td></tr>
  <tr><td>DFN</td><td>Dual flat no-lead</td></tr>
  <tr><td>D</td><td>Diode</td></tr>
  <tr><td>LCC</td><td>Leaded chip carrier</td></tr>
  <tr><td>LGA</td><td>Land grid array</td></tr>
  <tr><td>LED</td><td>Light emitting diode</td></tr>
  <tr><td>PLCC</td><td>Plastic leaded chip carrier</td></tr>
  <tr><td>QFN</td><td>Quad flat no-lead</td></tr>
  <tr><td>QFP</td><td>Quad flat package</td></tr>
  <tr><td>R</td><td>Resistor</td></tr>
  <tr><td>SOIC</td><td>Small outline integrated circuit</td></tr>
  <tr><td>SON</td><td>Small outline no-lead</td></tr>
  <tr><td>SOP</td><td>Small output package</td></tr>
  <tr><td>SSOP</td><td>Shrink small output package</td></tr>
  <tr><td>TQFP</td><td>Thin quad flat package</td></tr>
  <tr><td>TSOP</td><td>Thin small outline package</td></tr>
  <tr><td>TSSOP</td><td>Thin shrink small outline package</td></tr>
</table>