<hr>
<h2>General Library Guidelines</h2>

<h3>G1 - General Guidelines</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "G1.") }}

<h3>G2 - Atomic and Generic Parts</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "G2." ) }}

<hr>
<h2>Symbol Guidelines</h2>

<h3>S1 - Symbol Libraries</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "S1.") }}

<h3>S2 - Symbol Naming</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "S2.") }}

<h3>S3 - General Symbol Requirements</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "S3.") }}

<h3>S4 - Pin Requirements</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "S4.") }}

<h3>S5 - Footprint Association</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "S5.") }}

<h3>S6 - Symbol Metadata</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "S6.") }}

<h3>S7 - Special Symbols</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "S7.") }}

<hr>
<h2>Footprint Guidelines</h2>

<h3>F1 - Footprint Libraries</h3>

{{ partial "klc_rule_list" (dict "scope" . "filter" "F1.") }}

<h3>F2 - Footprint Naming</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "F2.") }}

<h3>F3 - General Footprint Requirements</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "F3.") }}

<h3>F4 - Layer Requirements</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "F4.") }}

<h3>F5 - Surface Mount Components</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "F5.") }}

<h3>F6 - Through Hole Components</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "F6.") }}

<h3>F7 - Virtual Components</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "F7.") }}

<h3>F8 - Footprint Properties</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "F8.") }}

<hr>
<h2>3D Model Guidelines</h2>

<h3>M1 - Contributing Models</h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "M1.") }}

<h3>M2 - 3D File Requirements </h3>
{{ partial "klc_rule_list" (dict "scope" . "filter" "M2.") }}

<hr>