{{ partial "header.html" . }}

{{ .Scratch.Set "sidemenu" false }}

<div class="container">
	<div class="row">
		<div class="col-md-9 post-full">
			{{ partial "breadcrumb.html" . }}

			{{ range .Paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
			{{ template "_internal/pagination.html" . }}

			<p class="post-preview-intro" style="text-align: center">
				For even fresher news, look at the <a href="https://lists.launchpad.net/kicad-developers/">kicad-developers mailing-list</a>.
			</p>
		</div>
		<div class="col-md-3">
			{{ partial "blog_categories.html" . }}
		</div>
	</div>

	{{ partial "sidebar.html" . }}
</div>

{{ partial "footer.html" . }}
