{{ partial "header.html" . }}

{{ .Scratch.Set "sidemenu" false }}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 {{ if .Scratch.Get "sidemenu" }}col-md-10 col-sm-9{{ else }}col-sm-12{{ end }}">
			{{ partial "breadcrumb.html" . }}

			{{ range .Paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
			{{ template "_internal/pagination.html" . }}

			<p class="post-preview-intro" style="text-align: center">
				For even fresher news, look at the <a href="https://lists.launchpad.net/kicad-developers/">kicad-developers mailing-list</a>.
			</p>
		</div>
	</div>

	{{ partial "sidebar.html" . }}
</div>

{{ partial "footer.html" . }}
