{{ partial "header.html" . }}

<style type='text/css'>
	.download-os
	{
		text-align:center;
	}
	
	.download-os a
	{
		text-decoration:none;
	}
	
	.download-os div
	{
		font-size:80px;
	}
</style>
<div class="container">
    <!-- Main Content -->
	<div class="margin-20">
		<!-- Main Content -->
        {{ partial "breadcrumb.html" . }}
				
        <div class="page-heading">
            <h1>Download</h1>
        </div>
		<div class="container">
			<div class="row">
				<h3>Select your operating system or distribution</h3>
				<ul class="list-group">
					{{ range .Data.Pages }}
						 <li class="list-group-item col-md-4 col-xs-12 col-sm-6 download-os">
							<a href="{{ .Permalink }}">
								{{ .Params.iconhtml | safeHTML }}
								{{ .Title }}
							</a>
						 </li>
					{{end}}
					 <li class="list-group-item col-md-4 col-xs-12 col-sm-6 download-os">
						<a href="https://code.launchpad.net/kicad">
							<div><i class="fa fa-code"></i></div>
							Source Code
						</a>
					 </li>
				</ul>
			</div>
			<div class="row">
				<h3>My operating system or distribution isn't listed!</h3>
				<p>
					KiCad is an open source project, download instructions above are provided by the community. 
					If you'd like to provide builds for your operating system or distribution, please submit a <a href="https://github.com/KiCad/kicad-website">pull request.</a>
				</p>
			</div>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
