{{ partial "header.html" . }}

{{ .Scratch.Set "sidemenu" true }}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 {{ if .Scratch.Get "sidemenu" }}col-md-10 col-sm-9{{ else }}col-sm-12{{ end }}">
			{{ partial "breadcrumb.html" . }}

			<h2>KiCad Library Convention</h2>
			{{/* Extract the latest version information from the klc-history section */}}

			{{ $versions := (where .Site.Pages "Section" "klc-history") }}
			{{ $latest := (index $versions 0) }}
			<i><a href="/klc-history/">Version: {{ replace $latest.File.LogicalName ".adoc" "" }} - {{ dateFormat "Jan 2, 2006" $latest.Date }}</a></i>
			<hr>

		<p>
			The KiCad Library Convention (KLC) is a set of requirements for contributing to the KiCad official libraries. Users wishing to sumbit or update library files should be familiar with these guidelines.
		</p>
		<p>
			The KLC are a set of <i>guidelines</i>, rather than <i>rules</i>. Electronic component libraries are diverse and complex, and exceptions can be made at the discretion of the library team.
		</p>
			<ul>
			<li>
			Where the KLC deviates from a particular datasheet or manufacturer recommendation, the datasheet <i>should take preference</i> unless there is a good reason not to do so (which will be clarified by a librarian).
		</li><li>
			Where the KLC is unclear, users should attempt to match the convention of existing library components, or seek further clarification.
		</li></ul>

		<p>
			Refer to the <a href="/libraries/faq">FAQ</a> and <a href="/contribute/libraries">contribution guidelines</a> for introductory information on contributing to the KiCad Libraries.
		</p>

			<hr>
			<h2>General Library Guidelines</h2>

			<h3>G1 - General Guidelines</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "G1.") }}

			<h3>G2 - Atomic and Generic Parts</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "G2." ) }}

			<hr>
			<h2>Symbol Guidelines</h2>

			<h3>S1 - Symbol Libraries</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "S1.") }}

			<h3>S2 - Symbol Naming</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "S2.") }}

			<h3>S3 - General Symbol Requirements</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "S3.") }}

			<h3>S4 - Pin Requirements</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "S4.") }}

			<h3>S5 - Footprint Association</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "S5.") }}

			<h3>S6 - Symbol Metadata</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "S6.") }}

			<h3>S7 - Special Symbols</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "S7.") }}

			<hr>
			<h2>Footprint Guidelines</h2>

			<h3>F1 - Footprint Libraries</h3>

			{{ partial "klc_rule_list" (dict "scope" . "filter" "F1.") }}

			<h3>F2 - Footprint Naming</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "F2.") }}

			<h3>F3 - General Footprint Requirements</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "F3.") }}

			<h3>F4 - Layer Requirements</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "F4.") }}

			<h3>F5 - Surface Mount Components</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "F5.") }}

			<h3>F6 - Through Hole Components</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "F6.") }}

			<h3>F7 - Virtual Components</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "F7.") }}

			<h3>F8 - Footprint Properties</h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "F8.") }}

			<hr>
			<h2>3D Model Guidelines</h2>

			<h3>M1 - </h3>
			{{ partial "klc_rule_list" (dict "scope" . "filter" "M1.") }}


			<hr>
			<h2>KLC Helper Scripts</h2>

		<p>
			The KiCad library team, with help from the KiCad community, have developed a set of <a href="https://github.com/kicad/kicad-library-utils">Python scripts</a> which can be used to help determine if a library element conforms to the KLC.
		</p>

		<p>
			When a <a href="https://help.github.com/articles/creating-a-pull-request/">pull request</a> is made to the KiCad libraries, the contributed files are automatically checked using these scripts. It can be very helpful to run these scripts on your local machine before submitting a PR, as it will help speed up the process of merging your contribution(s) into the library.
		</p>

		<p>
			<i>Note: While many of the KLC guidelines are checked by these scripts, there are some which are not covered. Additionally, any PR requires manual checking by a member of the KiCad library team</i>
		</p>

		<h2>KLC Revision History</h2>
		Revision information for the KLC can be found <a href="/klc-history/">here</a>.

		</div>
	</div>

	{{ partial "sidebar.html" . }}
</div>

{{ partial "footer.html" . }}
