{{ partial "header.html" . }}

{{ $currentNode := . }}
{{ .Scratch.Set "sidemenu" false }}
{{ .Scratch.Set "sidemenu_section" $currentNode.Section }}
{{ range .Site.Menus.main }}
	{{ if eq $currentNode.Section (.Name | lower) }}
		{{ if .HasChildren }}
			{{ $currentNode.Scratch.Set "sidemenu" true }}
		{{ end }}
	{{ end }}
{{ end }}

<div class="container">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2 {{ if .Scratch.Get "sidemenu" }}col-md-10 col-sm-9{{ else }}col-sm-12{{ end }}">
			{{ partial "breadcrumb.html" . }}

			<div class="page-heading">
				<h1>{{ .Title }}</h1>
			</div>

    <p>
      KiCad libraries are community contributed and available for download on <a href="https://github.com/kicad">GitHub</a>. If you wish to contribute to the libraries, refer to the <a href="/contribute/librarians">contribution guide</a>.
    </p>

		<h2>Library License</h2>
    <p>
      KiCad library license information can be found <a href="/libraries/license/">here</a>.
    </p>

    <h2>Latest Libraries</h2>
    <p>The latest complete set of official KiCad libraries are available as Git repositories at the following links. Each library set can also be downloaded as a compressed archive, for users who do not wish to use Git.</p>

    {{ partial "github_lib_table.html" . }}

    <p><b><i>
    Users who wish to keep their libraries up to date with the latest additions should <a href="https://help.github.com/articles/cloning-a-repository/">clone</a> the library repositories using Git. Using Git means that only the <i>changes</i> to the library need to be retrieved, and significantly reduces download bandwidth.
  </i></b></p>
    <h2>Stable Library Releases</h2>

    <p>
    The libraries are periodically compiled into stable <i>releases</i> which can be downloaded from the links below.
    </p>

    <h3>Symbol Library Releases</h3>
    {{ partial "github_release_table.html" "kicad-library" }}

    <h3>Footprint Library Releases</h3>
    {{ partial "github_release_table.html" "kicad-footprints" }}

    <h3>3D Model Library Releases</h3>
    {{ partial "github_release_table.html" "kicad-packages3d" }}

    <h3>Template Library Releases</h3>
    {{ partial "github_release_table.html" "kicad-templates" }}

  </div>

  {{ partial "sidebar.html" . }}
</div>
</div>

{{ partial "footer.html" . }}