{{ partial "header.html" . }}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ partial "breadcrumb.html" . }}
          <!--div class="post-preview-intro">
            These posts are updated every now and then. Watch this space for release notes and other useful news.
          </div>
          <hr-->
          
          {{ range .Paginator.Pages }}
              {{ .Render "summary" }}
          {{ end }}
          {{ template "_internal/pagination.html" . }}
          
          <p class="post-preview-intro" style="text-align: center">
            For even fresher news, look at the <a href="https://lists.launchpad.net/kicad-developers/">kicad-developers mailing-list</a>.
          </p>
        </div>
      </div>
    </div>

{{ partial "footer.html" . }}
